@use '/src/assets/styles/variables.scss';
@use '/src/assets/styles/mixins.scss';

.box {
	padding: 40px 20px;
	background-color: variables.$border-color;
	border-radius: variables.$border-radius-m;

	&.dark {
		background-color: variables.$dark-grey-color;
	}

	.title {
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.messengerList {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@media (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.messengerItem {
		background: variables.$white-color;
		border: 1px solid variables.$border-color;
		border-radius: variables.$border-radius;
		padding: 20px;
		text-align: center;
		transition: transform 0.3s ease, box-shadow 0.3s ease;

		&.dark {
			background: variables.$prime-black-color;
			border: 1px solid variables.$sec-black-color;
		}

		&:hover {
			transform: translateY(-10px);
			@include mixins.box-shadow;
		}

		.icon {
			font-size: 40px;
			color: variables.$blue-color;
			margin-bottom: 15px;
		}

		.name {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.description {
			font-size: 16px;
			color: variables.$prime-grey-color;
		}
	}
}
