@use '/src/assets/styles/variables.scss';
@use '/src/assets/styles/mixins.scss';

.box {
	margin: 32px 0;
	padding: 16px;
	text-align: center;

	.title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.description {
		font-size: 18px;
		color: variables.$prime-grey-color;
		margin-bottom: 30px;
	}

	.codeBlock {
		position: relative;
		margin: 0 auto 30px;
		max-width: 100%;
		width: 600px;
		border-radius: variables.$border-radius-s;
		overflow: hidden;
		@include mixins.box-shadow-lg;

		@media screen and (max-width: 768px) {
			width: 90%;
		}
	}

	.copyBtn {
		position: absolute;
		top: 8px;
		right: 8px;
		background-color: transparent;
		color: variables.$sec-grey-color;
		border: none;
		border-radius: variables.$border-radius-xs;
		padding: 4px;
		cursor: pointer;
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: variables.$prime-black-color;
		}
	}
}
