$white-color: #ffffff;
$dark-color: #090d1f;
$dark-sec-color: rgba(9, 13, 31, 0.5);
$prime-black-color: #1a1a1a;
$sec-black-color: #333333;
$prime-grey-color: #667085;
$sec-grey-color: #c0c5d0;
$accent-color: #6941c6;
$accent-light-color: #916fde;
$border-color: #e0e0e0;

$transition-timing: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$border-radius: 20px;
