$white-color: #ffffff;
$white-sec-color: #f9f9f9;
$dark-color: #090d1f;
$dark-sec-color: rgba(9, 13, 31, 0.5);
$prime-black-color: #1a1a1a;
$sec-black-color: #333333;
$prime-grey-color: #667085;
$sec-grey-color: #c0c5d0;
$dark-grey-color: rgba(52, 53, 55, 0.39);
$light-grey-color: #e3e1e1;
$accent-color: #6941c6;
$accent-light-color: #916fde;
$blue-color: #007bff;
$blue-dark-color: #0056b3;
$blue-light-color: #bae1f5;
$blue-sec-light-color: rgba(143, 206, 237, 0.62);
$green-color: #4caf50;
$border-color: #e0e0e0;
$overlay-color: rgba(0, 0, 0, 0.5);

$transition-timing: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$border-radius: 20px;
$border-radius-m: 10px;
$border-radius-s: 8px;
